APP_NAME="Hotel Management System"
APP_ENV=production
APP_KEY=base64:NbGu29Kl/zrlRRAaXqwj8uG3g15beiF4pYyYxwPqPXk=
APP_DEBUG=true
APP_URL=https://hotel-api-gpej.onrender.com
FRONTEND_URL=https://hotel-web-vert.vercel.app

APP_LOCALE=fr
APP_FALLBACK_LOCALE=fr
APP_FAKER_LOCALE=fr_FR

DB_CONNECTION=pgsql
DB_HOST=dpg-d9d89ct8nd3s73dnmhmg-a.frankfurt-postgres.render.com
DB_PORT=5432
DB_DATABASE=hotel_e8al
DB_USERNAME=hotel_e8al_user
DB_PASSWORD=WGJRXsMdIGyl8phd5DVpaMwUAL4pS5cM

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_DOMAIN=.onrender.com

LOG_LEVEL=debug

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

WHATSAPP_ACCESS_TOKEN=${WHATSAPP_ACCESS_TOKEN}
WHATSAPP_PHONE_NUMBER_ID=${WHATSAPP_PHONE_NUMBER_ID}
WHATSAPP_VERIFY_TOKEN=${WHATSAPP_VERIFY_TOKEN}
WHATSAPP_GOUVERNANTE_PHONE_NUMBER=${WHATSAPP_GOUVERNANTE_PHONE_NUMBER}

WEBSOCKET_URL=https://hotel-websocket.onrender.com
WEBSOCKET_API_KEY=${WEBSOCKET_API_KEY}